@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Rubik&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: Rubik;
}
.footer-div {
    display: flex;
    justify-content: center;
}
.counter-section{
   
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 8px;
    position: fixed;
}
.date{
    font-size: 14px;
}
.video-tile{
    font-weight: 600;
    padding: 5px;
}
.font-italic{
    font-style: italic;
}
.d-flex{
    width: 40%;
}
.hr-main {
    margin: 2% 0% 2% 0%;
}
